<div class="section secondary-section " id="portfolio">
    <div class="triangle"></div>
    <div class="container">
        <div>
            <h1>¿Usted ha visto nuestras obras?</h1>
            <p>Aquí algunas imágenes de nuestras obras con nuestros clientes.</p>
        </div>
        <ul class="nav nav-pills">
            <li class="filter" data-filter="all">
                <a href="#noAction">Todas</a>
            </li>
            <li class="filter" data-filter="web">
                <a href="#noAction">Rosa Naútica</a>
            </li>
            <li class="filter" data-filter="photo">
                <a href="#noAction">Petranso</a>
            </li>
            <li class="filter" data-filter="identity">
                <a href="#noAction">Muelle Club</a>
            </li>
        </ul>
        <!-- Start details for portfolio project 1 -->
        <div id="single-project">
            <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio01.jpg")" alt="project 1" />
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Petrolera Transoceanica S.A.</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.petranso.com
                            </div>
                        </div>
                        <p>Limpieza de casco.</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 1 -->
            <!-- Start details for portfolio project 2 -->
            <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio02.jpg")" alt="project 2">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Petrolera Transoceanica S.A.</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.petranso.com
                            </div>
                        </div>
                        <p>Limpieza de casco.</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 2 -->
            <!-- Start details for portfolio project 3 -->
            <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio03.jpg")" alt="project 3">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Petrolera Transoceanica S.A.</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.petranso.com
                            </div>
                        </div>
                        <p>Limpieza de casco.</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 3 -->
            <!-- Start details for portfolio project 4 -->
            <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio04.jpg")" alt="project 4">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Muelle Club</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>Mantenimiento y reparación de muelles</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 4 -->
            <!-- Start details for portfolio project 5 -->
            <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio05.jpg")" alt="project 5">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Muelle Club</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>Mantenimiento y reparación de muelles</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 5 -->
            <!-- Start details for portfolio project 6 -->
            <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio06.jpg")" alt="project 6">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Muelle Club</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://examplecomp.com
                            </div>
                        </div>
                        <p>Mantenimiento y reparación de muelles</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 6 -->
            <!-- Start details for portfolio project 7 -->
            <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio07.jpg")" alt="project 7">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Rosa Naútica</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.larosanautica.com
                            </div>
                        </div>
                        <p>Mantenimientos preventivos y correctivos</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 7 -->
            <!-- Start details for portfolio project 8 -->
            <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio08.jpg")" alt="project 8">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Rosa Naútica</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.larosanautica.com
                            </div>
                        </div>
                        <p>Mantenimientos preventivos y correctivos</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 8 -->
            <!-- Start details for portfolio project 9 -->
            <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                <div class="span6">
                    <img src="@Url.Content("~/Content/images/Portfolio09.jpg")" alt="project 9">
                </div>
                <div class="span6">
                    <div class="project-description">
                        <div class="project-title clearfix">
                            <h3>Rosa Naútica</h3>
                            <span class="show_hide close">
                                <i class="icon-cancel"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <div>
                                <span>Link</span>http://www.larosanautica.com
                            </div>
                        </div>
                        <p>Mantenimientos preventivos y correctivos</p>
                    </div>
                </div>
            </div>
            <!-- End details for portfolio project 9 -->
            <ul id="portfolio-grid" class="thumbnails row">
                <li class="span4 mix web">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio01.jpg")" alt="project 1">
                        <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Petranso</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix photo">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio02.jpg")" alt="project 2">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Petranso</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix identity">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio03.jpg")" alt="project 3">
                        <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Petranso</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix web">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio04.jpg")" alt="project 4">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Muelle Club</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix photo">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio05.jpg")" alt="project 5">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Muelle Club</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix identity">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio06.jpg")" alt="project 6">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv5">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Muelle Club</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix web">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio07.jpg")" alt="project 7" />
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Rosa Naútica</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix photo">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio08.jpg")" alt="project 8">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv7">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Rosa Naútica</h3>
                        <div class="mask"></div>
                    </div>
                </li>
                <li class="span4 mix identity">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/images/Portfolio09.jpg")" alt="project 9">
                        <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                            <i class="icon-plus"></i>
                        </a>
                        <h3>Rosa Naútica</h3>
                        <div class="mask"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>