<div class="section primary-section" id="service">
    <div class="container">
        <!-- Start title section -->
        <div class="title">
            <h1>Qué hacemos?</h1>
            <!-- Section's title goes here -->
            <p>Los años de servicios nos avalan en nuestro trabajo y dan fe de nuestra calidad y arduo esfuerzo para que Serbuvaliente, siga siendo un referente de los trabajos submarinos o subacuáticos.</p>
            <!--Simple description for section goes here. -->
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Service1.jpg")" alt="service 1">
                    </div>
                    <h3>Soldadura submarina</h3>
                    <p>Trabajos de corte y soldadura submarina.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Service2.jpg")" alt="service 2" />
                    </div>
                    <h3>Mantenimientos de Muelles</h3>
                    <p>Mantenimiento y reparacion de muelles</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Service3.jpg")" alt="service 3">
                    </div>
                    <h3>Limpieza de casco</h3>
                    <p>Limpieza de casco.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Reflotamiento.jpg")" alt="service 3">
                    </div>
                    <h3>Reflotamiento</h3>
                    <p>Reflotamiento.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Boyas.jpg")" alt="service 3">
                    </div>
                    <h3>Boyas</h3>
                    <p>Instalación de boyas y fondaderos.</p>
                </div>
            </div>
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Filmaciones.jpg")" alt="service 3">
                    </div>
                    <h3>Filmaciones</h3>
                    <p>Filmaciones submarinas.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <img class="img-circle" src="@Url.Content("~/Content/images/Otros.jpg")" alt="service 3">
                    </div>
                    <h3>Otros</h3>
                    <p>Calibraciones de estructuras metálicas y todo servicio submarino en mar rio o lagos.</p>
                </div>
            </div>
        </div>
    </div>
</div>